.countdown {
  background-color: var(--primary-yellow);
  padding: 70px 0 47px;

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
  }

  &__title {
    color: var(--gray1e);
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 22px;
    line-height: calc(55 / 44);
  }

  &__text {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
}
