body {
  background-color: var(--body-bg);
  font-family: var(--primary-font);
  font-weight: 400;
}

.wrapper {
  max-width: var(--body-size);
  margin: 0 auto;
}

.container {
  max-width: calc(var(--container) + 2 * var(--gap));
  padding: 0 var(--gap);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  background: linear-gradient(93.52deg, #e6ff4b 8.71%, #00bd82 98.16%);
  background-clip: text;
  color: transparent;
  --webkit-background-clip: text;
}

.heading {
  font-weight: 600;
  color: var(--gray1e);

  &--big {
    font-size: 50px;
    line-height: calc(63 / 50);
  }

  &--normal {
    font-size: 40px;
    line-height: calc(50 / 40);
  }

  &--small {
    font-size: 20px;
    line-height: calc(25 / 20);
  }
}

.text {
  font-size: 18px;
  line-height: calc(28 / 18);
}
