:root {
  --primary-font: 'Sora', sans-serif;
  --primary-color: #00bd82;
  --primary-yellow: #e2f471;
  --body-bg: #fdf9f1;
  --gray1e: #1e1e1e;
  --gray7d: #7d7d7d;
  --grayb5: #b5b3af;
  --body-size: 1440px;
  --container: 1100px;
  --gap: 15px;
}
